@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
/*font-family: 'Hachi Maru Pop', cursive;*/

body{
    font-family: 'Hachi Maru Pop', cursive;
    height: 100vh;
    overflow: hidden;
    animation: bgcolor infinite 10s;
    margin: 0;
    padding: 0;
}

/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }

p{
    font-family: 'Hachi Maru Pop', cursive;
    position: absolute;
    top: 60%;
    left: 30%;
    color: white;
    text-align: center;
}

@keyframes bgcolor{
    0%{
        background-color :#ff4757 ;
    }
    20%{
        background-color :#ff7f50 ;
    }
    40%{
        background :#eccc68 ;
    }
    60%{
        background :#7bed9f ;
    }
    80%{
        background :#70a1ff ;
    }
    100%{
        background :#5352ed ;
    }
}